/**** css stylings ****/

nav {
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

.main-buttons {
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.intro {
    position: absolute;
    font-family: sans-serif;
    color:darkslategrey;
    margin-top: 250px;
    text-align: center;
}

.pos {
    position: relative;
}

.hide {
    display: none;
}